<div class="page-header">
  <h1>Assignments</h1>
</div>
<% @assignments.each do |a|%>
<%= a.package.tracking_code%>
<%= a.package.user.profile.name%>
<%= a.user.profile.name %>
<%= a.user. %>


<%end%>