<!-- <div class="page-header">
  <h1>Welcome#index</h1>
</div> -->
<!-- Header/About -->
    <a name="Home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>PickApp</h1>
                        <h3>You shop, we deliver, Saving you hassle</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <!-- <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/EkumaChidi/PickApp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About PickApp</h2>
                    <p class="lead">PickApp is a delivery service, that helps you get anything delivered to anywhere at anytime.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS_mwfrnv7hAmn4IB1izWSyoDkuVADd_R06zGeaZA-0wGCBQc3-" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 Team">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h5 class="section-heading" id = "Team">Team</h5>
                    <h1>Chidi Ekuma</h1>
                    <h1>Nyawira Njoroge</h1>
                    <h1>Bernard Adarkwah </h1>
                </div>
            </div>

        </div>

   <!--  <a  name="Works"></a>
    <div class="content-section-b">

        <div class="container"> -->

            <!-- <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it works</h2>
                    <p class="lead">Brief info</p>
                </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i style="visibility: visible; animation-name: bounceIn;" class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Buy Items from any merchant </h3>
                        <p class="text-muted">.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Give us the details of the package</h3>
                        <p class="text-muted">!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;" class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Let us know where you want it delivered to</h3>
                        <p class="text-muted">And when.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;" class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>We have it delivered</h3>
                        <p class="text-muted">!</p>
                    </div>
                </div>
            </div> -->
        
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


